.row-container{
    border: 2px solid black;
    margin: 0.3em auto;
    width: 80%;
    padding: 0.3em;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0.3em 0.4em;
    flex-wrap: wrap;
}
.row-container .no-data{
    display: flex;
    padding: 2em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    gap: 0.3em 0.4em;
}
.row-container .no-data .fa-thin{
    border: 2px solid black;
    font-size: 3em;
    /* background-color: black; */
    /* color: white; */
}
.row-container .no-data i, h1{
    padding: 1em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}